<!-- footer begins here -->



</div>
<div id="footer" class="ui inverted vertical footer segment">


    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="six wide column">
                <h4 class="ui inverted header">Sitemap</h4>
                <div class="ui inverted link list">
                    <a href="/" class="item">Landing</a>
                    <a href="/campgrounds" class="item">Campgrounds</a>
                    <a href="/campgrounds/new" class="item">Create Campground</a>
                    <a href="/login" class="item">Login</a>
                    <a href="/register" class="item">Resgister</a>
                </div>
            </div>
            <div class="ten wide column right aligned">
                <h4 class="ui inverted header">YelpCamp</h4>
                <p>Created by Ross for Colt Steele's Web Development Bootcamp</p>
                        <div id="icon-links" class="ui container right aligned">
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
        </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>