<!DOCTYPE html>
<html>

<div class=""></div>

<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>
    <div class="ui massive fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <i class="icon home"></i>
                YelpCamp
            </a>
            <a href="/campgrounds" class="item">Campgrounds</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui button">Log in</a>
                </div>
                <div class="item">
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
    <div id="navbarSpace"></div>
    <!-- header ends here -->