<% include ../partials/header %>

<div class="ui text container">
    <h1 class="ui header">Add a New Comment to <%= campground.name %></h1>
    <form class="ui form" action="/campgrounds/<%= campground._id %>/comments" method="post">
        <div class="field">
            <label>Comment</label>
            <textarea name="comment[text]" placeholder="Write your comment" rows="5"></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui divider"></div>
    <a href="/campgrounds/<%= campground._id %>">Go Back</a>
</div>

<% include ../partials/footer %>