<% include partials/header %>

<style>
    body {
        background-color: #1b1c1d !important;
    }

</style>

<div class="ui container center aligned">

    <h1 id="landing-header" class="ui icon inverted header">
        <i class="bed icon"></i>
        <div class="content">
            YelpCamp
        <div class="sub header">Find your campground.</div>
        </div>
    </h1>

    <img class="ui fluid rounded image" src="https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    <div class="ui divider hidden"></div>
    <a class="ui primary button massive inverted fluid" href="/campgrounds">Enter</a>

</div>




<% include partials/footer %>