<% include partials/header %>

<div class="container">

    <h1>Create a New Campground</h1>
    <div>

            <form action="/campgrounds" method="post">
                <div>
                    <input type="text" name="name" placeholder="name">
                </div>
                <div>
                    <input type="text" name="image" placeholder="image url">
                </div>
                <div>
                    <textarea name="description" placeholder="Please write a description" rows="5"></textarea>
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>


    </div>
</div>

<% include partials/footer %>