<% include ../partials/header %>

<div class="ui container">
    <div class="ui center aligned huge message page">
        <h1>This is the campgrounds page</h1>
        <p>Check out our campgrounds</p>
        <a href="/campgrounds/new">Add New Campground</a>
    </div>

    <div class="ui link four cards">
        <% campgrounds.forEach(function(campground){ %>
        <a class="ui card" href="/campgrounds/<%= campground.id %>">
            <div class="image">
                <img src="<%= campground.image %>" alt="<%= campground.name %>">
            </div>
            <div class="content">
                <div class="header">
                    <h5 class="card-title"><%= campground.name %></h5>
                </div>
            </div>
        </a>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>