#navbar-space {
    margin-bottom: 6em;
}

.footer.segment {
    padding: 5em !important;
  }

#content-wrap {  
    padding-bottom: 2.5rem;    
}

#page-container {  
    position: relative;  
    min-height: 100vh;
}

#footer {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
}

#icon-links {
    position: relative;
    top: 0;
    padding: 2em;
}

#landing-header {
    padding-bottom: 2em;
}

.ui.comments {
    max-width: 100% !important;
}
